
.about-product-presenting {
    margin-top: 100px;
    display: flex;
    background: #E8A570;
}

.about-product-presenting-content{
    display: flex;
    width: 96%;
    margin-top: 32px;
    padding-bottom: 60px;
}

.about-product-presenting-content img{
    /* height: 700px; */
    width: 500px;
}

/* .about-product-presenting-text{
    margin-left: 88px;
} */

.heading-text h2{
    font-size: 42px;
}

.heading-text h1{
    font-size: 64px;
    color: #F66C24;
    font-family: "PT Sans";
    padding-left: 70px;
}

.text-paragraph{
    color: whitesmoke;
    margin-top: 32px;
    font-size: 18px;
    /* padding-bottom: 49px; */
}

.heading-text{
    padding-left: 14vh;
}

